<div style="border-bottom: 1px solid black;">
    <a>
        <img src="../../assets/images/pcstore-logo.jpg" id="logo" alt="Logo" routerLink="/" />
    </a>
    <button class="tab-btn" (click)="addModelTab()">
        <img src="../../assets/images/robot-icon.png" class="tab-btn-img" alt="Image Search Icon" />
    </button>
    <button class="tab-btn" (click)="addProductListTab()">
        <img src="../../assets/images/storage-icon.png" class="tab-btn-img" alt="Image Search Icon" />
    </button>
</div>
<div>
    <div class="tabs">
        <div *ngFor="let tab of tabs; let i = index" class="tab" [class.active]="i === activeTabIndex"
            (click)="activateTab(i)">
            {{ tab.title }}
            <button class="close-btn" (click)="closeTab(i); $event.stopPropagation()">X</button>
        </div>
    </div>

    <div class="tab-content">
        <ng-template #container></ng-template>
    </div>
</div>