<div>
    <nav class="tabs">
        <button (click)="setTab('reviews')" [class.active]="activeTab === 'reviews'">
            Відгуки <span class="badge">{{product.reviews.length}}</span>
        </button>
        <button (click)="setTab('comments')" [class.active]="activeTab === 'comments'">
            Питання <span class="badge">{{product.comments.length}}</span>
        </button>
    </nav>

    <div class="tab-content">
        <div *ngIf="activeTab === 'reviews'">
            <app-reviews [product]="product"></app-reviews>
        </div>
        <div *ngIf="activeTab === 'comments'">
            <app-comments-and-responses [product]="product"></app-comments-and-responses>
        </div>
    </div>
</div>