<app-nav-bar></app-nav-bar>
<div id="main-page-reccomendations">
    <div style="display: flex;">
        <div class="main-pg-txt">
            <label>New Products:</label><br>
            <div *ngFor="let product of new2Products; let i=index" class="product-item"
                routerLink='/productpage/{{product.id}}'>
                <img [src]="product.photoLink" alt="product-picture" class="product-picture"><br>
                <label class="product-name">{{product.name}}</label><br>
                <div style="display: flex; align-items: center;">
                    <ngb-rating id="star-rating" [max]="5" [readonly]="true" [rate]="product.rating"></ngb-rating>
                    <h6>{{ product.rating| number: '1.1-1' }}</h6>
                </div>
                <label class="product-price">{{product.price | currency:'UAH':'symbol-narrow'}}</label><br>
                <label *ngIf="product.availlability==true" class="availability-true">In stock</label>
                <label *ngIf="product.availlability==false" class="availability-false">Out of stock</label><br>
            </div>
        </div>
        <div>
            <div id="ad-div">
                  <img [src]="advertisements[currentIndex].photoLink" class="viewer-image" alt="Image viewer" />

                    <button class="circle-button left" (click)="prevImage()">
                        &#xab;
                    </button>

                    <button class="circle-button right" (click)="nextImage()">
                        &#xbb; 
                    </button>
            </div>
            <div class="main-pg-txt" style="margin-top: 40px;">
                <label>Recently seen:</label>
            </div>
            <div style="display: flex; margin-left: 60px;">
                <div *ngFor="let product of seenProducts; let i=index" class="product-item"
                    routerLink='/productpage/{{product.id}}'>
                    <img [src]="product.photoLink" alt="product-picture" class="product-picture"><br>
                    <label class="product-name">{{product.name}}</label><br>
                    <div style="display: flex; align-items: center;">
                        <ngb-rating id="star-rating" [max]="5" [readonly]="true" [rate]="product.rating"></ngb-rating>
                        <h6>{{ product.rating| number: '1.1-1' }}</h6>
                    </div>
                    <label class="product-price">{{product.price | currency:'UAH':'symbol-narrow'}}</label><br>
                    <label *ngIf="product.availlability==true" class="availability-true">In stock</label>
                    <label *ngIf="product.availlability==false" class="availability-false">Out of stock</label><br>
                </div>
            </div>
        </div>
    </div>
</div>