#main-page-reccomendations{
    margin-top: 3vh;
    width: 100%;
}
.main-pg-txt{
    margin-left: 13%;
}
#ad-div{
    width: auto;
    height: auto;
    margin-left: 5%;
}
#ad-img{
    width: 50vw;
    height: auto;
}