<app-nav-bar></app-nav-bar>

<div class="product-page">
  <h1>{{ product.name }}</h1>
  <p>Code: <strong>{{ product.id }}</strong></p>

  <nav class="tabs">
    <button (click)="setTab('main')" [class.active]="activeTab === 'main'">Main</button>
    <button (click)="setTab('comments')" [class.active]="activeTab === 'comments'">
      Reviews and Comments <span class="badge">{{product.comments.length+product.reviews.length}}</span>
    </button>
  </nav>

  <div class="tab-content">
    <div *ngIf="activeTab === 'main'">
      <app-main-product-page [product]="product"></app-main-product-page>
    </div>
    <div *ngIf="activeTab === 'comments'">
      <app-comments-product-page [product]="product"></app-comments-product-page>
    </div>

  </div>
</div>