<header id="navbar">
    <a>
        <img src="../../assets/images/pcstore-logo.jpg" id="logo" alt="Logo" routerLink="/"/>
    </a>
    <div>
        <div id="searchdiv">
            <input type="text" [(ngModel)]="searchValue" placeholder="Пошук..." id="search-input"/>
            <img src="../../assets/images/search-icon.png" id="search-button" routerLink="/searchpage" (click)="searchBarEnter()">
        </div>     
    </div>
    <a routerLink="/modelpage">
        <img src="../../assets/images/image-search-icon.png"  id="image-search" alt="Image Search Icon" />
    </a>
    <a routerLink="/userpage">
        <img src="../../assets/images/user-icon.jpg"  id="user" alt="User Icon" />
    </a>
    <a routerLink="/orderpage" >
        <img src="../../assets/images/shopping-cart-icon.jpg" id="shopping-cart" alt="Shopping Cart Icon" />
    </a>
    <div id="cart-quantity">{{cartQuantity}}</div>
</header>