<app-nav-bar></app-nav-bar>

<div id="search-page">

    <div id="check-div">
        <div>
            <label>Ціна:</label><br>
            Від:
            <input type="number" class="price-input" [(ngModel)]="minPrice">
            До:
            <input type="number" class="price-input" [(ngModel)]="maxPrice">
            <button id="price-button">OK</button>
            <hr class="check-line">
        </div>
    </div>

    <div id="products-div">
        <div style="float: right;">
            <label>Сортувати за:</label>
            <select (change)="sortTypeChange()" [(ngModel)]="selectedSortOption" id="sort-select">
                <option>--Виберіть--</option>
                <option *ngFor="let sortoption of sortOptions; let i=index">
                    {{sortoption}}
                </option>
            </select>
        </div><br><br>

        <div id="product-list">
            <div *ngFor="let product of products; let i=index" class="product-item" routerLink='/productpage/{{product.article}}'>
                <img [src]="product.picture" alt="product-picture" class="product-picture"><br>
                <label class="product-name">{{product.name}}</label><br>
                <label class="product-price">{{product.price | currency:'UAH':'symbol-narrow'}}</label><br>
                <label *ngIf="product.availability==true" class="availability-true">Є в наявності</label>
                <label *ngIf="product.availability==false" class="availability-false">Немає в наявності</label>
            </div>
        </div>
    </div>

</div>