#search-page{
    width: auto;
    height: auto;
    display: flex;
}
.checkboxes-scroll{
    overflow: auto;
    height: 29vh;
    overflow-y:scroll;
    width: auto;
}
#search-input{
    height: 20px;
    font-size: 16px;
    width: 89%;
}
.check-line{
    margin-top: 10px;
    margin-bottom: 10px;
}
#check-div{
    margin-left: 10vw;
    margin-top: 20px;
    width:12vw;
    min-width: 150px;
    font-size: 15px;
}
.price-input{
    width: 20%;
}
#price-button{
    margin-left: 10px;
}
#product-list{
    display: flex;
    flex-wrap: wrap;
}
#products-div{
    width: 60vw;
    margin-left: 20px;
}
.product-item{
    width: 14vw;
    min-width: 150px;
    height: auto;
    border: 1px solid lightgray;
}
.product-picture{
    width: 14vw;
    min-width: 150px;
    height: 14vw;
    min-height: 150px;
    border-bottom: 1px solid lightgray;
}
.product-name{
    font-size: 15px;
    margin-left: 2%;
}
.product-price{
    font-size: 30px;
    margin-left: 2%;
}
.availability-true{
    color: rgb(38, 180, 38);
    margin-left: 2%;
}
.availability-false{
    color: red;
    margin-left: 2%;
}
#sort-select{
    font-size: 20px;
    margin-left: 5px;
}